<header>
  <div class="columns">
    <div class="column">
      <a routerLink="/">
        <figure>
          <img src="../../assets/img/main/main.png" alt="main-page">
        </figure>
      </a>
    </div>
    <div class="column">
      <div class="page-title">
        <h1 class="title">{{ title }}</h1>
      </div>
    </div>
    <div class="column"></div>
  </div>
</header>
