<footer class="footer text-yellow">
  <nav class="navbar">
    <div class="navbar-start display-column">
      <span>Barbershop</span>
      <span>CUT © 2018</span>
    </div>
    <div class="navbar-end display-column has-text-right">
      <span>Сайт разработан веб-студией</span>
      <span>«SiteExpress»</span>
    </div>
  </nav>
</footer>
