/* You can add global styles to this file, and also import other style files */
@import "~bulma/bulma";
@import url('https://fonts.googleapis.com/css?family=Righteous|Russo+One');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Russo One', sans-serif;
  font-size: 1vw;
  color: black;
}

.columns {
  margin-left: 0;
  margin-right: 0;
}

.columns:not(:last-child) {
  margin-bottom: calc(1.5rem - 1.3rem);
}

.columns:last-child {
  margin-bottom: -0.45em;
}

@media only screen and (max-width: 1300px) {
  .columns:last-child {
    margin-bottom: -0.4rem;
  }
}

@media only screen and (max-width: 1000px) {
  * {
    font-size: 2vw;
  }

  .columns {
    display: inline-block;
  }

  .columns:not(.is-desktop) {
    display: inline-block;
  }

  .columns:last-child {
    margin-bottom: -0.4rem;
  }
}

.heading {
  font-size: 3.5rem;
  font-family: 'Righteous', cursive;
}

.text-yellow {
  color: #cccc00;
}

.title {
  font-size: 2rem;
  color: black;
  text-transform: uppercase;
}

.content h3 {
  color: black;
}

.top-padder {
  padding-top: 2.15vh;
}
